# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
/adminstrador-procesos/latinus-parent/latinus-persistencia - copia/Persistencia/target/
/adminstrador-procesos/latinus-parent/latinus-webapp/Persistencia/target/
/adminstrador-procesos/latinus-parent/latinus-webapp/Form-Adm-Procesos/target/
/adminstrador-procesos/latinus-parent/latinus-webapp - copia/Form-Adm-Procesos/target/
/adminstrador-procesos/latinus-parent/latinus-webservices/Form-Adm-Procesos/target/
/adminstrador-procesos/latinus-parent/latinus-webservices/Adm-Procesos-Data/target/
/adminstrador-procesos/latinus-parent/latinus-webservices/latinus-ws-data/target/