<table align='center' border='0' cellpadding='0' cellspacing='0'>
    <tbody>
        <tr style='height:200.7pt'>
            <td height='213' style='width:386.7pt;border:solid gray 1.5pt;border-bottom:none;padding:0cm 5.4pt 0cm 5.4pt;height:159.7pt' valign='top' width='516'>
                <p><br /><font face='Arial' size='1'>
                <span style='font-size:9.0pt;font-family:Arial'>Estimado(a):</span>
                </font>
                <b><font face='Arial' size='1'>
                    <span style='font-size:9.0pt;font-family:Arial;font-weight:bold'>[nombreUsuario]</span>
                </font></b></p>
                <p align="justify"><font face='Arial' size='1'>
                    <font face='Arial' size='1'>
                    <span style='font-size:9.0pt;font-family:Arial'>Su solicitud [numeroSolicitud], de</span></font></font><span style='font-size:9.0pt;font-family:Arial'>l tr&aacute;mite de Miner&iacute;a Artesanal a Peque&ntilde;a Miner&iacute;a </span><font face='Arial' size='1'><font face='Arial' size='1'><span style='font-size:9.0pt;font-family:Arial'>ha sido enviada satisfactoriamente. El Sistema de Gesti&oacute;n Minera le ha asignado el C&oacute;digo de Catastro [codigoCatastro]. Usted cuenta con 5 d&iacute;as plazo para acercarse a la Subsecretar&iacute;a Regional de Minas y entregar la documentaci&oacute;n.</span>
                    </font>
                </font></p>
                <p><font face='Arial' size='1'><font face='Arial' size='1'>
                <span style='font-size:9.0pt;font-family:Arial'> <b><br>
                </font></font></p>
                <p>&nbsp;</p>
                
              <span style="font-family: Arial; font-size: 9.0pt;font-weight:bold;"> Atentamente,<br><br>
Ministerio de Miner&iacute;a - http://www.mineria.gob.ec/ <br><br>
Agencia de Regulaci&oacute;n y Control Minero (ARCOM) - http://www.controlminero.gob.ec/ </span></td>
        </tr><tr>
            <td bgcolor='#FFFF99' style='width:386.7pt;border:solid gray 1.5pt;border-top:none;background:#FFFF99;padding:0cm 5.4pt 0cm 5.4pt' valign='top' width='516'>
            <span style='font-size:8.0pt;font-family:Arial'>Recuerde ingresar regularmente al Sistema de Gesti&oacute;n Minera</span>
            </td></tr><tr>
            <td bgcolor='#003366' style='width:386.7pt;border:solid gray 1.5pt;border-top:none;background:#003366;padding:0cm 5.4pt 0cm 5.4pt' valign='top' width='516'>
            <p align='center' style='text-align:center'>
            <span style='font-size:8.0pt;font-family:Arial;color:white;font-weight:bold'>LA INFORMACI&Oacute;N CONTENIDA EN EL PRESENTE CORREO ES CONFIDENCIAL Y PARA USO EXCLUSIVO DEL DESTINATARIO ORIGINAL. RECUERDE, USTED NO PUEDE RESPONDER ESTE CORREO.</span>
        </p></td></tr>
    </tbody>
</table>