
<table align='center' border='0' cellpadding='0' cellspacing='0'>
    <tbody>
        <tr style='height:200.7pt'>
            <td height='213' style='width:386.7pt;border:solid gray 1.5pt;border-bottom:none;padding:0cm 5.4pt 0cm 5.4pt;height:159.7pt' valign='top' width='516'>
                <p><br /><font face='Arial' size='1'>
                <span style='font-size:9.0pt;font-family:Arial'>Estimado(a):</span>
                </font></p>
                <p align="justify"><font face='Arial' size='1'>
                    <font face='Arial' size='1'>
                    <span style='font-size:9.0pt;font-family:Arial'>Se ha generado el formulario de Otorgamiento de Concesiones Mineras para Minerales Met&aacute;licos Bajo el R&eacute;gimen Especial de Peque&ntilde;a Miner&iacute;a mediante el Proceso de Petici&oacute;n [numeroSolicitud], por el usuario [nombreUsuario] con C.I. [documentoUsuario].
                    </span>
                    </font>
                </font></p>
                
                
                <p align="justify"><font face='Arial' size='1'>
                    <font face='Arial' size='1'>
                    <span style='font-size:9.0pt;font-family:Arial'>El usuario deber&aacute; entregar a la Subsecretar&iacute;a Nacional encargada de Miner&iacute;a Artesanal y Peque&ntilde;a Miner&iacute;a del Ministerio Sectorial (Planta Central), los requisitos establecidos en el art&iacute;culo 10 del Instructivo para el Otorgamiento de Concesiones Mineras para Minerales Met&aacute;licos, conjuntamente con los Anexos 1 y 2 de la GU&Iacute;A METODOL&Oacute;GICA PARA LOS TR&Aacute;MITES DE PETICI&Oacute;N Y OFERTA DE PEQUE&Ntilde;A MINER&Iacute;A MET&Aacute;LICA (GUIA-UI-SGM-010), en el plazo de 15 d&iacute;as.
                    </span>
                    </font>
                </font></p>
                
                <p><font face='Arial' size='1'>
                    <font face='Arial' size='1'>
                        <span style='font-size:9.0pt;font-family:Arial'> <b><br>
                   </font></font></p><p><font face='Arial' size='1'><font face='Arial' size='1'>
                <span style="font-family: Arial; font-size: 9.0pt;font-weight:bold;"> Atentamente,<br><br>
Ministerio de Miner&iacute;a - http://www.mineria.gob.ec/ <br><br>
Agencia de Regulaci&oacute;n y Control Minero (ARCOM) - http://www.controlminero.gob.ec/ </span>
                </font></font></p>
            </td>
        </tr><tr>
            <td bgcolor='#FFFF99' style='width:386.7pt;border:solid gray 1.5pt;border-top:none;background:#FFFF99;padding:0cm 5.4pt 0cm 5.4pt' valign='top' width='516'><span style="font-size:8.0pt;font-family:Arial">Recuerde ingresar regularmente al Sistema de Gesti&oacute;n Minera</span></td></tr><tr>
            <td bgcolor='#003366' style='width:386.7pt;border:solid gray 1.5pt;border-top:none;background:#003366;padding:0cm 5.4pt 0cm 5.4pt' valign='top' width='516'>
            <p align='center' style='text-align:center'>
            <span style='font-size:8.0pt;font-family:Arial;color:white;font-weight:bold'>LA INFORMACI&Oacute;N CONTENIDA EN EL PRESENTE CORREO ES CONFIDENCIAL Y PARA USO EXCLUSIVO DEL DESTINATARIO ORIGINAL RECUERDE USTED NO PUEDE RESPONDER ESTE CORREO</span>
        </p></td></tr>
    </tbody>
</table>