<table align='center' border='0' cellpadding='0' cellspacing='0'>
    <tbody>
        <tr style='height:200.7pt'>
            <td height='213' style='width:386.7pt;border:solid gray 1.5pt;border-bottom:none;padding:0cm 5.4pt 0cm 5.4pt;height:159.7pt' valign='top' width='516'>
                <p><br /><font face='Arial' size='1'>
                <span style='font-size:9.0pt;font-family:Arial'>Estimado(a):</span>
                </font>
                <b><font face='Arial' size='1'>
                    <span style='font-size:9.0pt;font-family:Arial;font-weight:bold'>[nombreUsuario]</span>
                </font></b></p>
                <p><font face='Arial' size='1'>
                    <font face='Arial' size='1'>
                    <span style='font-size:9.0pt;font-family:Arial'>La solicitud [numeroSolicitud] con c&oacute;digo de catastro [codigoCatastro] ha sido enviada a su bandeja para corregirla. Por favor contactarse con la mesa de ayuda para corregir dicha informaci&oacute;n. </span>
                    </font>
                </font></p>
                <p><font face='Arial' size='1'><font face='Arial' size='1'>
                <span style='font-size:9.0pt;font-family:Arial'> <b><br>
                </font></font></p><p><font face='Arial' size='1'><font face='Arial' size='1'>
                <span style='font-size:9.0pt;font-family:Arial'>Recuerde dar seguimiento constante al portal.</span>
                </font></font></p><p><font face='Arial' size='1'><font face='Arial' size='1'>
                <span style='font-size:9.0pt;font-family:Arial'>Atentamente,</span></font></font>
                </p><p><font face='Arial' size='1'><font face='Arial' size='1'>
                <span style='font-size:9.0pt;font-family:Arial'>Agencia de Regulaci&oacute;n y Control Minero (ARCOM)</span>
                </font></font></p>
            </td>
        </tr><tr>
            <td bgcolor='#FFFF99' style='width:386.7pt;border:solid gray 1.5pt;border-top:none;background:#FFFF99;padding:0cm 5.4pt 0cm 5.4pt' valign='top' width='516'>
            <span style='font-size:8.0pt;font-family:Arial'>Para cambiar esta contrase&ntilde;a debe ingresar al Sistema de Registro de Usuarios de ARCOM</span>
            </td></tr><tr>
            <td bgcolor='#003366' style='width:386.7pt;border:solid gray 1.5pt;border-top:none;background:#003366;padding:0cm 5.4pt 0cm 5.4pt' valign='top' width='516'>
            <p align='center' style='text-align:center'>
            <span style='font-size:8.0pt;font-family:Arial;color:white;font-weight:bold'>LA INFORMACI&Oacute;N CONTENIDA EN EL PRESENTE CORREO ES CONFIDENCIAL Y PARA USO EXCLUSIVO DEL DESTINATARIO ORIGINAL RECUERDE USTED NO PUEDE RESPONDER ESTE CORREO</span>
        </p></td></tr>
    </tbody>
</table>