<table border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr style="height: 200.7pt;">
<td style="width: 386.7pt; border: solid gray 1.5pt; border-bottom: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 159.7pt;" valign="top" width="516" height="213">
<p><br /><span style="font-family: Arial; font-size: xx-small;"> <span style="font-size: 9.0pt; font-family: Arial;">Estimado(a):</span> </span> <strong><span style="font-family: Arial; font-size: xx-small;"> <span style="font-size: 9.0pt; font-family: Arial; font-weight: bold;">[nombreUsuario]</span></span></strong></p>
<p style="text-align: justify;"><span style="font-family: Arial; font-size: xx-small;"><span style="font-family: Arial; font-size: xx-small;"><span style="font-size: 9.0pt; font-family: Arial;">Su solicitud [numeroSolicitud]&nbsp;correspondiente al tr&aacute;mite de [tipoSolicitud], se encuentra incompleta y/o con observaciones, usted cuenta con [diasSubsanacionLetras] ([diasSubsanacionNumero])&nbsp;d&iacute;as t&eacute;rmino para &nbsp;aclarar o completar su solicitud. De no hacerlo, &nbsp;se proceder&aacute; con el archivo y devoluci&oacute;n de la documentaci&oacute;n entregada sin &nbsp;derecho a la devoluci&oacute;n del pago por tr&aacute;mite administrativo, en referencia al Art. 6 del Acuerdo Ministerial 2016-020.</span></span></span></p>
<p style="text-align: justify;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Las observaciones realizadas que requieren subsanaci&oacute;n, se encuentran en su bandeja de <strong>Notificaciones</strong> del Sistema de Gesti&oacute;n Minera.</span></p>
<p>&nbsp;</p>
<p><strong><span style="font-size: 9.0pt; font-family: 'Arial','sans-serif';">Atentamente,</span></strong></p>
<p><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Ministerio de Miner&iacute;a -&nbsp;http://www.mineria.gob.ec/</span></strong></p>
<p><strong><span style="font-size: 9.0pt; font-family: 'Arial','sans-serif';">Agencia de Regulaci&oacute;n y Control Minero (ARCOM) - http://www.controlminero.gob.ec/</span></strong></p>
</td>
</tr>
<tr>
<td style="width: 386.7pt; border: solid gray 1.5pt; border-top: none; background: #FFFF99; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" bgcolor="#FFFF99" width="516"><span style="font-size: 8.0pt; font-family: Arial;">Recuerde ingresar regularmente al Sistema de Gesti&oacute;n Minera</span></td>
</tr>
<tr>
<td style="width: 386.7pt; border: solid gray 1.5pt; border-top: none; background: #003366; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" bgcolor="#003366" width="516">
<p style="text-align: center;" align="center"><span style="font-size: 8.0pt; font-family: Arial; color: white; font-weight: bold;">LA INFORMACI&Oacute;N CONTENIDA EN EL PRESENTE CORREO ES CONFIDENCIAL Y PARA USO EXCLUSIVO DEL DESTINATARIO ORIGINAL. RECUERDE, USTED NO PUEDE RESPONDER ESTE CORREO.</span></p>
</td>
</tr>
</tbody>
</table>