<table border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr style="height: 200.7pt;">
<td style="width: 386.7pt; border: solid gray 1.5pt; border-bottom: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 159.7pt;" valign="top" width="516" height="213">
<p><br /><span style="font-family: Arial; font-size: xx-small;"><span style="font-size: 9.0pt; font-family: Arial;">Se&ntilde;ores Subsecretar&iacute;a de Miner&iacute;a Artesanal y Peque&ntilde;a Miner&iacute;a.-&nbsp;</span></span></p>
<p style="text-align: justify;" align="justify"><span style="font-family: Arial; font-size: xx-small;"><span style="font-family: Arial; font-size: xx-small;"><span style="font-size: 9.0pt; font-family: Arial;">El presente es para informar que la persona/empresa [nombreUsuario], que realizo l</span></span></span>a solicitud de otorgamiento de Concesi&oacute;n Minera Met&aacute;lica Bajo el R&eacute;gimen Especial de Peque&ntilde;a Miner&iacute;a, relacionada a la graficaci&oacute;n No. [numeroSolicitud], del &aacute;rea denominada [nombreConcesion], con c&oacute;digo catastral [codigoArcom],&nbsp; luego de haberse cumplido el procedimiento administrativo correspondiente, ha sido revocada.</p>
<p style="text-align: justify;" align="justify"><span style="font-family: Arial; font-size: xx-small;"><span style="font-family: Arial; font-size: xx-small;"><span style="font-size: 9.0pt; font-family: Arial;">S&iacute;rvase revisar en el Sistema de Gesti&oacute;n Minera la resoluci&oacute;n de la autoridad competente debidamente motivada.</span></span></span></p>
<p align="justify"><span style="font-family: Arial; font-size: xx-small;"><span style="font-family: Arial; font-size: xx-small;"><span style="font-size: 9.0pt; font-family: Arial;">Esta notificaci&oacute;n se la realiza sin perjuicio de las notificaciones efectuadas en el Sistema de Gesti&oacute;n Documental Quipux y correo electr&oacute;nico por el actuario asignado al procedimiento administrativo.</span></span></span></p>
<p align="justify">C&oacute;digo catastral:&nbsp;[codigoArcom]</p>
<p align="justify">N&uacute;mero de tr&aacute;mite: [numeroSolicitud]</p>
<p><span style="font-family: Arial; font-size: xx-small;"><span style="font-family: Arial; font-size: xx-small;"> <span style="font-family: Arial; font-size: 9.0pt; font-weight: bold;"> Atentamente,<br /><br /> Ministerio de Miner&iacute;a - http://www.mineria.gob.ec/ <br /><br /> Agencia de Regulaci&oacute;n y Control Minero (ARCOM) - http://www.controlminero.gob.ec/ </span> </span></span></p>
</td>
</tr>
<tr>
<td style="width: 386.7pt; border: solid gray 1.5pt; border-top: none; background: #FFFF99; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" bgcolor="#FFFF99" width="516"><span style="font-size: 8.0pt; font-family: Arial;">Recuerde ingresar regularmente al Sistema de Gesti&oacute;n Minera</span></td>
</tr>
<tr>
<td style="width: 386.7pt; border: solid gray 1.5pt; border-top: none; background: #003366; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" bgcolor="#003366" width="516">
<p style="text-align: center;" align="center"><span style="font-size: 8.0pt; font-family: Arial; color: white; font-weight: bold;">LA INFORMACI&Oacute;N CONTENIDA EN EL PRESENTE CORREO ES CONFIDENCIAL Y PARA USO EXCLUSIVO DEL DESTINATARIO ORIGINAL RECUERDE USTED NO PUEDE RESPONDER ESTE CORREO</span></p>
</td>
</tr>
</tbody>
</table>