<table border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr style="height: 200.7pt;">
<td style="width: 386.7pt; border: solid gray 1.5pt; border-bottom: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 159.7pt;" valign="top" width="516" height="213">
<p><br /><span style="font-family: Arial; font-size: xx-small;"> <span style="font-size: 9.0pt; font-family: Arial;">Estimado(a):</span> </span> <strong><span style="font-family: Arial; font-size: xx-small;"> <span style="font-size: 9.0pt; font-family: Arial; font-weight: bold;">[nombreUsuario]</span> </span></strong></p>
<p><span style="font-family: Arial; font-size: xx-small;"> <span style="font-family: Arial; font-size: xx-small;"> <span style="font-size: 9.0pt; font-family: Arial;">Su informe [numeroSolicitud] ha sido enviada satisfactoriamente. Usted cuenta con 15 d&iacute;as para acercarse a la Subsecretar&iacute;a Regional de Minas y entregar la documentaci&oacute;n.</span> </span> </span></p>
<p><span style="font-family: Arial; font-size: xx-small;"><span style="font-family: Arial; font-size: xx-small;"> <span style="font-size: 9.0pt; font-family: Arial;"> <strong><br /> </strong></span></span></span></p>
<p><span style="font-family: Arial; font-size: xx-small;"><span style="font-family: Arial; font-size: xx-small;"> <span style="font-size: 9.0pt; font-family: Arial; font-weight: bold;">Recuerde dar seguimiento constante al portal.</span> </span></span></p>
<p><span style="font-family: Arial; font-size: xx-small;"><span style="font-family: Arial; font-size: xx-small;"> <span style="font-size: 9.0pt; font-family: Arial; font-weight: bold;">Atentamente,</span></span></span></p>
<p><span style="font-family: Arial; font-size: xx-small;"><span style="font-family: Arial; font-size: xx-small;"> <span style="font-size: 9.0pt; font-family: Arial; font-weight: bold;">Agencia de Regulaci&oacute;n y Control Minero (ARCOM)</span> </span></span></p>
</td>
</tr>
<tr>
<td style="width: 386.7pt; border: solid gray 1.5pt; border-top: none; background: #FFFF99; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" bgcolor="#FFFF99" width="516"><span style="font-size: 8.0pt; font-family: Arial;">Para cambiar esta contrase&ntilde;a debe ingresar al Sistema de Registro de Usuarios de ARCOM</span></td>
</tr>
<tr>
<td style="width: 386.7pt; border: solid gray 1.5pt; border-top: none; background: #003366; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" bgcolor="#003366" width="516">
<p style="text-align: center;" align="center"><span style="font-size: 8.0pt; font-family: Arial; color: white; font-weight: bold;">LA INFORMACI&Oacute;N CONTENIDA EN EL PRESENTE CORREO ES CONFIDENCIAL Y PARA USO EXCLUSIVO DEL DESTINATARIO ORIGINAL RECUERDE USTED NO PUEDE RESPONDER ESTE CORREO</span></p>
</td>
</tr>
</tbody>
</table>